ul#navmenu-h, ul#navmenu-h li, ul#navmenu-h ul{ margin: 0; padding: 0; border: 0 none;list-style: none;}
ul#navmenu-h { margin:0px; float:right; padding:10px 0;   }

ul#navmenu-h ul ul { margin-top:-1px;}
ul#navmenu-h ul:after /*From IE 7 lack of compliance*/ {
	clear: both; display: block; font: 1px/0px serif; content: "."; height: 0; visibility: hidden; }

ul#navmenu-h {
	height: 32px;
}
ul#navmenu-h li {
	height:32px;
	float: left;
	display: inline;
	position: relative;
	z-index:99;
}
ul#navmenu-h ul {
	width: 160px;
	top: 32px;
	right: 0;
	display: none;
	position: absolute;
}
ul#navmenu-h ul li {
	width: 160px;
	float: right;
	display: block !important;
	display: inline;
}
/* Root Menu */
ul#navmenu-h li a, ul#navmenu-v li a {
	border-left: none;
	padding: 0 10px;
	float: none !important;
	float: left;
	display: block;
	font: bold 12px Arial, Helvetica, sans-serif;
	text-decoration: none;
	height: auto !important;
	height: 1%;
	line-height:32px;
}
/* 2nd Menu */
ul#navmenu-h li:hover li a, ul#navmenu-v li:hover li a,
ul#navmenu-h li.iehover li a, ul#navmenu-v li.iehover li a { 
	float: none;
	_border-top:none;
}
ul#navmenu-h ul ul,
ul#navmenu-h ul ul ul,
ul#navmenu-h ul ul ul ul {
	display: none;
	position: absolute;
	top: 1px;
	right: 159px;
}


/* NO EDIT PAST THIS LINE - Do Not Move - Must Come Before display:block for Gecko */

ul#navmenu-h li:hover ul ul, ul#navmenu-v li:hover ul ul,
ul#navmenu-h li:hover ul ul ul, ul#navmenu-v li:hover ul ul ul,
ul#navmenu-h li:hover ul ul ul ul, ul#navmenu-v li:hover ul ul ul ul,
ul#navmenu-h li.iehover ul ul, ul#navmenu-v li.iehover ul ul,
ul#navmenu-h li.iehover ul ul ul, ul#navmenu-v li.iehover ul ul ul,
ul#navmenu-h li.iehover ul ul ul ul, ul#navmenu-v li.iehover ul ul ul ul {
	display: none;
}
ul#navmenu-h li:hover ul, ul#navmenu-v li:hover ul,
ul#navmenu-h ul li:hover ul, ul#navmenu-v ul li:hover ul,
ul#navmenu-h ul ul li:hover ul, ul#navmenu-v ul ul li:hover ul,
ul#navmenu-h ul ul ul li:hover ul, ul#navmenu-v ul ul ul li:hover ul,
ul#navmenu-h li.iehover ul, ul#navmenu-v li.iehover ul,
ul#navmenu-h ul li.iehover ul, ul#navmenu-v ul li.iehover ul,
ul#navmenu-h ul ul li.iehover ul, ul#navmenu-v ul ul li.iehover ul,
ul#navmenu-h ul ul ul li.iehover ul, ul#navmenu-v ul ul ul li.iehover ul {
	display: block;
}
/* #end -------------- */



ul#navmenu-h li a { font-family:Arial, Helvetica, sans-serif; font-size:12px; text-transform:uppercase; font-weight:bold; text-decoration:none; padding:1px 18px 1px 5px; margin:0px 0px 0px 15px;  _margin:0px 0px 0px 5px; text-transform:uppercase; line-height:32px; }
#nav ul li a:hover { text-decoration:none; }

ul#navmenu-h li ul li a { margin:0; padding-left:10px }
ul#navmenu-h li ul li ul li {height:32px;  }
ul#navmenu-h li {height:32px;  }





