
<!doctype html>
<html lang="en" ng-app="app">
<head>
<!-- Meta tags -->
<meta http-equiv="content-type" content="text/html; charset=utf-8" charset="utf-8" />
<meta http-equiv="description" content="DRIVR – The Premier Car Service – Are you a owner driver? Sign Up and start receiving more work here! Launch in UK in July. No fees or strings attached." />
<!-- iOS app tag -->
<!--
Tag for app in header of site - to be filled with proper information once app becomes available
<meta name="apple-itunes-app" content="app-id=362872995, affiliate-data=bevbOqLt02I, app-argument=digg://" />
-->
<title>DRIVR - The Premier Car Service</title>
<!-- Fav icon-->
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<link rel="icon" href="favicon.ico" type="image/x-icon" />
<!-- Fonts -->
<link rel="stylesheet" media="screen" type="text/css" href="css/fonts.css" />
<!-- CSS -->
<link href="bundles/css-3rdparty%3Fv=MpYfHC-GgBGzcQcxB0v0uesoyURypkFHDF_ZZNOhSNY1.css" rel="stylesheet"/>

<link href="bundles/css-master%3Fv=9KebIMQe7LoTMKXFqvEQ4WWjOGPx_ykDeWsbLpVPvOk1.css" rel="stylesheet"/>

<!-- Fonts -->
<link rel="stylesheet" media="screen" type="text/css" href="css/fonts_corp.css" />

<!-- IE crap fix -->
<!-- html5shiv makes html5 tags available in IE7 and 8 -->
<!--[if lt IE 9]>
	<script type="text/javascript" src="/scripts/html5shiv.js"></script>
<![endif]-->
<script type="text/javascript">var NREUMQ=NREUMQ||[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);</script></head>
<body>
<div id="wrapper">

	<!-- START HEADER SECTION -->
	<header>
    	<div class="row-fluid">
            <div class="row-fluid">
                <h1>
                    <a href="index.html">
                        <img src="img/logo-blue.png" width="120" height="45" alt="DRIVR" title="DRIVR" />
                    </a>
                </h1>
                <div class="extra-nav">
                	<ul class="inline">

                        <li>
                        	<a href="http://www.linkedin.com/company/drivr-the-premier-car-service/jobs" target="_blank">Jobs</a>
                        </li>

                    </ul>
                </div>
                <nav>
                    <ul class="inline">
                        <li>
                            <a id="a-app" href="index.html#theapp">The app</a>
                        </li>
                        <li>
                            <a id="a-rates" href="index.html#rates">Rates</a>
                        </li>
                        <li>
                            <a id="a-drive" href="driversignup.html">Drive for us</a>
                        </li>

                        <li>
                            <a id="a-about" href="about.html">About</a>
                        </li>
                        <li class="fR">
                        	<a id="book-ride" href="london.html" class="red-btn">Book a car</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
	<!-- END HEADER SECTION -->


	<!-- START TOP IMAGE SECTION -->
	<section class="top-image drive-for-us-image">
		<div class="stand-alone-image">
			<img src="img/misc/drive-for-us.jpg" alt="About us" title="About us" />
		</div>
		<div class="wrapper">
			<h2>Now signing drivers</h2>
			<h3>Get more work. Kill your idle time.</h3>
		</div>
	</section>
	<!-- END TOP IMAGE SECTION -->

	<!-- START DRIVE FOR US CONTENT SECTION -->
	<section class="drive-for-us-content">
		<div class="wrapper">
			<div class="row-fluid">
				<div class="span4">
					<img src="img/misc/idle-time.png" alt="Kill your idle time" title="Kill your idle time" />
					<h3>Kill your idle time</h3>
					<p>No need to wait for work. The app notifies you when a passenger books a car nearby</p>
				</div>
				<div class="span4">
					<img src="img/misc/credit-card.png" alt="Creditcard on file" title="Creditcard on file" />
					<h3>Creditcard on file</h3>
					<p>We have the passengers card details on file and they are charged automatically via the app.</p>
				</div>
				<div class="span4">
					<img src="img/misc/statistics.png" alt="Live statistics and logs" title="Live statistics and logs" />
					<h3>Live statistics and logs</h3>
					<p>See your earnings and trips in the app or on your account page online. All your earnings are transfered to your bank account weekly.</p>
				</div>
			</div>
		</div>
	</section>
	<!-- END DRIVE FOR US CONTENT SECTION -->
    
	<!-- START DRIVE FOR US FORM SECTION -->
	<section class="drive-for-us-form">
		<div class="wrapper" ng-controller="DriverSignUpCtrl" ng-init="selectCity(1580029417, 'London', 'United Kingdom', 'GB', '+44'); init();">
			<form method="post" id="drive-for-us-form" ng-submit="submit()" ng-show="!registrationSuccess">
				<fieldset>
					<h2>Sign up and drive for us</h2>
					<p>Receive plenty of work on your iPhone<br />
					    Free sign up and no fees or licenses on dispatch app.<br />
                        Get paid every week with multiple back to back runs between your existing clients.
					</p>
					<div id="suerrors" ng-show="error != null" class="alert alert-error" style="display: none">
						<b>{{error.message}}</b>
						<ul ng-show="errors.errors">
							<li ng-repeat="err in error.errors">{{err}}</li>
						</ul>
					</div>
					<div class="form-row select">
						<a href="javascript:void(0);" class="dropdown-toggle fakeSelect" data-toggle="dropdown">
							{{city}}
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
								<li><span>United Kingdom</span></li>
									<li>
										<a href="javascript:void(0);" ng-click="selectCity(1580029417, 'London', 'United Kingdom', 'GB', '+44');">London</a>
									</li>
						</ul>
					</div>
					<div class="row-fluid">
						<div class="span6">
							<h4>Personal Information <span>*</span></h4>
							<div class="form-row">
								<label for="name">First Name <span>*</span></label>
								<input type="text" id="firstName" name="firstName" ng-model="driver.firstName" value="" class="required" ng-class="isFirstNameInvalid()" />
							</div>
							<div class="form-row">
								<label for="name">Last Name <span>*</span></label>
								<input type="text" id="lastName" name="lastName" ng-model="driver.lastName" value="" class="required" ng-class="isLastNameInvalid()" />
							</div>
							<div class="form-row overlay">
								<label for="phone">Operating Mobile Phone <span>*</span></label>
								<span>{{phoneCode}}</span>
								<input type="text" id="phone" name="phone" ng-model="phone" value="Will be verified" data-default-value="Will be verified" ng-class="isPhoneInvalid()" />
							</div>
							<div class="form-row">
								<label for="email">Email <span>*</span></label>
								<input type="email" id="email" name="email" ng-model="driver.email" value="" ng-class="isEmailInvalid()" />
							</div>
							<div class="form-row">
								<label for="pwd">Create Password <span>*</span></label>
								<input type="password" id="pwd" name="pwd" ng-model="driver.password" value="" ng-class="isPwdInvalid()" />
							</div>
							<div class="form-row">
								<label for="re-pwd">Repeat Password <span>*</span></label>
								<input type="password" id="re-pwd" name="re-pwd" ng-model="repwd" value="" ng-class="isRePwdInvalid()" />
							</div>
							<div class="form-row how">
								<h5>How did you hear about Drivr?</h5>
								<div class="option" ng-repeat="option in hearOptions">
									<input type="checkbox" name="option" id="option{{$index}}" value="{{option}}" class="customInput radio" />
									<label for="option{{$index}}">{{option}}</label>{{fixCheckboxes($last)}}
								</div>
							</div>
						</div>
						<div class="span6">
							<h4>Company Information</h4>
							<div class="form-row">
								<label for="company-name">Company Name (if any)</label>
								<input type="text" id="company-name" name="company-name" ng-model="driver.companyName" value="" />
							</div>
							<div class="form-row">
								<label for="company-address">Company/Personal Address <span>*</span></label>
								<div class="search-container">
									<input type="text" id="company-address" name="company-address" class="resetable dropdownable" ng-class="isAddressInvalid()" />
								</div>
							</div>
							<div class="form-row overlay">
								<label for="company-tax">TAX/VAT Number (if any)</label>
								<span>{{countryCode}}</span>
								<input type="text" id="company-tax" name="company-tax" ng-model="vatNumber" value="" />
							</div>
							<div class="form-row">
								<label for="referral">If a friend referred you enter his/her email</label>
								<input type="email" id="referral" name="referral" ng-model="driver.refererEmail" value="" />
							</div>
							<div class="form-row">
								<label for="comments">Comments</label>
								<textarea id="comments" name="comments" ng-model="driver.comment"></textarea>
							</div>
							<div class="form-row cars">
								<h5>Current car(s) - Maximum 3 years old</h5>
								<div id="car-list" class="row-fluid">
									<div class="span6" ng-repeat="part in [0, 1]">
										<div class="form-row" ng-repeat="car in getCarsPart(part)">
											<input type="text" ng-model="cars[car.index].count" id="car{{car.index}}" />
											<label ng-show="!car.other" for="car{{car.index}}">{{car.title}}</label>
											<input ng-show="car.other" type="text" name="other-cars" id="other-cars" value="Other" data-default-value="Other" class="resetable" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="form-row agree">
						<input type="checkbox" name="agree" id="agree" value="I agree" ng-model="agree" class="customInput" />
						<label for="agree">I agree to the <a href="drivercodeofconduct.html" target="_blank">chauffeur terms</a></label>
					</div>

					<div class="form-row submit">
						<input type="hidden" name="action" value="Apply as driver" />
						<input type="submit" value="Apply as driver" ng-disabled="isBusy" />
						<img src="img/spinner.gif" class="spinner" ng-show="isBusy"/>
					</div>                     
				</fieldset>
			</form>
			<div id="driver-registered" class="driver-registered" style="display: none" ng-show="registrationSuccess">
				<h2>Thank you for<br/>signing up</h2>
				<p>We've sent a confirmation email to <a href="mailto:{{driver.email}}">{{driver.email}}</a><br />
					with a link to finish your registration.<br />
                    Don't see the email? Check your spam folder.</p>
			</div>
		</div>
	</section>
	<!-- END DRIVE FOR US FORM SECTION -->
    
	<!-- START FAQ SECTION -->
	<section class="faq">
		<div class="wrapper">
			<h3>FAQ</h3>
			<div class="row-fluid">
				<div class="span4">
					<h5>How many trips must I do with Drivr?</h5>
					<p>You can do 1 or +50 trips a week, that's your choice. Working with us is completely flexible and you can keep your existing clients.</p>
					<h5>What car should I have?</h5>
					<p>Mercedes E and S Class or similar vehicle in a good condition and  in the same category. If you're not sure if your vehicle meets the requirements, sign up anyway and our team will contact you. The car must be clear of stickers and kept clean at all times.</p>
				</div>
				<div class="span4">
					<h5>What paper work is required?</h5>
					<p>You need to upload all appropriate licences.</p>
					<h5>How do customers pay?</h5>
					<p>Via their credit card which we have on file. All charges, fraud etc. is handled by us.</p>
					<h5>Rates, commission and pay out</h5>
					<p>- The rates corresponds to the local markets and can be found our rates page.</p>
					<p>- Commission is 80% to you on all trips and we pay directly to your bank account every week.</p>
				</div>
				<div class="span4">
					<h5>What iPhone is required?</h5>
					<p>If you have an iPhone 4 or newer you can run the Drivr app</p>    
					<h5>How do I get the Drivr app?</h5>
					<p>When you are approved by our Operations team we will send you the app via email.</p>
					<h5>How do I know when there is work?</h5>
					<p>If you are offline and we have a lot of work, we will send you a text message.</p>
				</div>
			</div>
		</div>
	</section>
	<!-- END FAQ SECTION -->

	
	<!-- START FOOTER SECTION -->
    <footer>
    	<div class="wrapper">
            <div class="row-fluid">
                <div class="span6 nav">
                	<a href="index.html">
                    	<img src="img/logo-white.png" alt="DRIVR" title="DRIVR" />
                    </a>
                    <ul class="inline">
                        <li>
                            <a href="index.html#theapp">The app</a>
                        </li>
                        <li>
                            <a href="index.html#rates">Rates</a>
                        </li>
                        <li>
                            <a href="driversignup.html">Drive for us</a>
                        </li>

                        <li>
                            <a href="about.html">About</a>
                        </li>
                    </ul>
                    <p>Getting you around whereever you are</p>
                    <div class="headings">
                        <h4>
                            50
                            <span>Countries</span>
                        </h4>
                        <h4>
                            5.000+
                            <span>Cities around the world</span>
                        </h4>
                        <h4>
                            300.000+
                            <span>Cars available around the globe</span>
                        </h4>
                    </div>
                </div>
                <div class="span6 map">
                    <div class="span6">
                        <div class="top">&nbsp;</div>
                        <div class="map">
                            <h2>Launching soon in a city near you.</h2>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="topdark">
                        	<ul>
                            	<li>Connect with us</li>
                                <li>
                                	<a href="https://twitter.com/drivr_uk">
                                    	<img src="img/icons/twitter.png" alt="Twitter" title="Twitter" />
                                    </a>
                                </li>
                                <li>
                                	<a href="http://facebook.com/drivrhq">
                                    	<img src="img/icons/facebook.png" alt="Facebook" title="Facebook" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <p>
                        	DRIVR UK LTD<br />
                            8 Warner Yard<br>
                            Clerkenwell<br>
                            London | EC1R 5EY<br>
                            United Kingdom<br>
	                        <a href="mailto:hello@drivr.com">hello@drivr.com</a>
                        </p>
					</div>
                </div>
            </div>
        </div>
    </footer>
	<!-- END FOOTER SECTION -->
</div>
<!-- Javascript -->
<script src="bundles/js-3rdparty%3Fv=BOfPwtmItnTeTjbGXyqiDSMdB_UO2VNPDiC1REDxipA1"></script>

<script src="bundles/js-master%3Fv=u6OJ_6WNOLzGqIsbvUyndkaLx_wWRy7x4TQ9nXUlxxM1"></script>


	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js"></script>
	<script type="text/javascript" src="scripts/ctrls/driversignup.js"></script>
	<script type="text/javascript" src="scripts/address.js"></script>
	<script type="text/javascript" src="scripts/ga.js"></script>


<script type="text/javascript" src="scripts/ga.js"></script>
<!-- IE crap fix -->
<!-- fix for svg images in deprecated browsers -->
<!--[if lt IE 9]>
	<script type="text/javascript" src="/scripts/svg.js"></script>
<![endif]-->
<script type="text/javascript"> if (!NREUMQ.f) {NREUMQ.f=function() {NREUMQ.push(["load",new Date().getTime()]);var e=document.createElement("script"); e.type="text/javascript"; e.src=(("http:"===document.location.protocol)?"http:":"https:") + "//" + "rpm-images.newrelic.com/42/eum/rum.js"; document.body.appendChild(e);if(NREUMQ.a)NREUMQ.a();};NREUMQ.a=window.onload;window.onload=NREUMQ.f;};NREUMQ.push(["nrfj","beacon-4.newrelic.com","cce6bc8d8b","1821533","ZgEAbUNVWxVUUhINVl9LJlZFelASdl4IEEteCA5cQxtxFFxHAxZqWAMMbEEbfAhRVB4=",0,15,new Date().getTime(),"347184D0F9415AF5","","","",""]);</script></body>
</html>