
<!doctype html>
<html lang="en" ng-app="app">
<head>
<!-- Meta tags -->
<meta http-equiv="content-type" content="text/html; charset=utf-8" charset="utf-8" />
<meta http-equiv="description" content="Thinking Limo – The Premier Car Service – Are you a owner driver? Sign Up and start receiving more work here! Launch in the US in August. No fees or strings attached." />
<!-- iOS app tag -->
<!--
Tag for app in header of site - to be filled with proper information once app becomes available
<meta name="apple-itunes-app" content="app-id=362872995, affiliate-data=bevbOqLt02I, app-argument=digg://" />
-->
<title>Thinking Limo - The Premier Car Service</title>
<!-- Fav icon-->
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<link rel="icon" href="favicon.ico" type="image/x-icon" />
<!-- Fonts -->
<link rel="stylesheet" media="screen" type="text/css" href="css/fonts.css" />
<!-- CSS -->
<link href="bundles/css-3rdparty%3Fv=MpYfHC-GgBGzcQcxB0v0uesoyURypkFHDF_ZZNOhSNY1.css" rel="stylesheet"/>

<link href="bundles/css-master%3Fv=9KebIMQe7LoTMKXFqvEQ4WWjOGPx_ykDeWsbLpVPvOk1.css" rel="stylesheet"/>

<!-- Fonts -->
<link rel="stylesheet" media="screen" type="text/css" href="css/fonts_corp.css" />

<!-- IE crap fix -->
<!-- html5shiv makes html5 tags available in IE7 and 8 -->
<!--[if lt IE 9]>
	<script type="text/javascript" src="/scripts/html5shiv.js"></script>
<![endif]-->
<script type="text/javascript">var NREUMQ=NREUMQ||[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);</script></head>
<body>
<div id="wrapper">

	<!-- START HEADER SECTION -->
	<header>
    	<div class="row-fluid">
            <div class="row-fluid">
                <h1>
                    <a href="index.html">
                        <img src="img/logo-blue.png" width="120" height="45" alt="Thinking Limo" title="Thinking Limo" />
                    </a>
                </h1>
<!--
                <div class="extra-nav">
                	<ul class="inline">

                        <li>
                        	<a href="http://www.linkedin.com/company/onecall-limousine" target="_blank">Jobs</a>
                        </li>

                    </ul>
                </div>
-->
                <nav>
                    <ul class="inline">
                        <li>
                            <a id="a-app" href="index.html#theapp">The app</a>
                        </li>
                        <li>
                            <a id="a-rates" href="index.html#rates">Rates</a>
                        </li>
                        <li>
                            <a id="a-drive" href="driversignup.html">Drive for us</a>
                        </li>

                        <li>
                            <a id="a-about" href="about.html">About</a>
                        </li>
                        <li class="fR">
                        	<a id="book-ride" href="london.html" class="red-btn">Book My Car</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
	<!-- END HEADER SECTION -->


	<!-- START TOP SLIDER SECTION -->
    <section class="top-slider">
    	<div class="row-fluid">
        	<!-- Change data-interval value to change the sliding interval -->
            <div id="topCarousel" class="carousel topCarousel slide" data-interval="50000">
                <!-- Carousel items -->
                <div class="carousel-inner">
                	<!-- Use data-caption to setup the caption message for this slide -->
                    <div class="active item" style="background-color:#efefef;" data-caption="Your driver<br />at your<br />fingertips">
                    	<img src="img/slide01.jpg" alt="Book a ride anywhere – coming in June" title="Book a ride anywhere – coming in June" />
                        <div class="slide-content template1">
                        	<h2>
                            	Premier cars<br />
								at awesome prices
	                            <span>- Suited drivers, easy payment</span>
                            </h2>
                        </div>
                    </div>
                    <div class="item" style="background-color:#016aa1;" data-caption="Premier cars<br />at awesome<br />prices">
                    	<img src="img/slide02.jpg" alt="Book awesome rides with seamless payment" title="Book awesome rides with seamless payment" />
                        <div class="slide-content template2">
                        	<h2>
                            	Your driver at your fingertips
<!--
                                <span>Proper cars - cheaper than taxis!</span>
-->
                            </h2>
                            <h3>Launching on iPhone and Android in August</h3>
                            <ul>
                            	<li>
                                	<img src="img/icons/android.png" alt="Android" title="Android" />
                                </li>
                                <li>
                                	<img src="img/icons/apple.png" alt="iPhone" title="iPhone" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Carousel nav -->
                <a class="carousel-control left" href="index.html#topCarousel" data-slide="prev">&lsaquo;</a>
                <div class="rightButtonHolder">
	                <p>Your driver<br />
						at your<br />
						fingertips</p>
                    <a class="carousel-control right" href="index.html#topCarousel" data-slide="next">&rsaquo;</a>
                </div>
                <span class="carousel-status">Slide <span>1/2</span></span>
            </div>
        </div>
    </section>
	<!-- END TOP SLIDER SECTION -->
    
	<!-- START CONTENT SECTION -->
    <section class="content">
    	<div class="wrapper">
        	<h2>Getting there in style</h2>
        	<div class="row-fluid">
            	<div class="span4">
                	<img src="img/icons/book.png" alt="Book your ride" title="Book your ride" />
                	<h4>Book your ride</h4>
					<p>Open the app, see the live updated pick up time in your area and request the car.</p>
                </div>
            	<div class="span4">
                	<img src="img/icons/track.png" alt="Track your ride" title="Track your ride" />
                	<h4>Track your car</h4>
					<p>See your driver on the map plus live updated countdown to the time of arrival</p>
                </div>
            	<div class="span4">
                	<img src="img/icons/call.png" alt="Seamless payment" title="Seamless payment" />
                	<h4>Easy payment</h4>
					<p>No more cash or paper receipts! At your destination, just jump off and we send the receipt on mail.</p>
                </div>
            </div>
        </div>
        <div class="row-fluid book">
            <div class="book">
                <div class="inner">
                    <h2>Book your ride</h2>
                    <p>Select car type and pick up address and driver will pick you up in one of our nice cars.</p>
                </div>
            </div>
        </div>
        <div class="row-fluid track">
            <div class="track">
                <div class="inner">
                    <h2>Track your car</h2>
                    <p>We’ll send the nearest driver to pick you up. Follow the driver live on the map.</p>
                </div>
            </div>
        </div>
        <div class="row-fluid book">
            <div class="seamless">
                <div class="inner">
                    <h2>Easy Payment</h2>
                    <p>No more cash payments or paper receipts. We charge your credit card after the trip. Rate the service to help us build the world's best fleet of drivers.</p>
                </div>
            </div>
        </div>
    </section>
	<!-- END CONTENT SECTION -->
    
	<!-- START APP SECTION -->
    <section class="app" id="theapp">
    	<div class="wrapper">
        	<div class="row-fluid">
            	<div class="span6 left">
                	<img src="img/app-logo.png" alt="Mobile App" title="Mobile App" />
                    <h2>Your driver at your fingertips</h2>
					<p>Launching on iPhone and Android soon</p>
                    <ul class="inline">
                    	
                    	<li>
                           	<img src="img/icons/android.png" alt="Android App" title="Android App" />
                        </li>
                    	<li>
                           	<img src="img/icons/apple.png" alt="iPhone App" title="iPhone App" />
                        </li>
                        
                    </ul>
                    
                </div>
                <div class="span6 right">
                	<img src="img/misc/f/phones.jpg" alt="Mobile App" title="Mobile App" />
                </div>
            </div>
        </div>
    </section>
	<!-- END APP SECTION -->
    
	<!-- START RATES SECTION -->
    <section class="rates" id="rates" ng-controller="RatesCtrl" ng-init="selectCity(1580029417, 'New York', 'United States'); init();">
        <div class="wrapper">
            <h2>Rates</h2>
            <p>Select a city from the dropdown to get sample rates</p>
			<div class="btn-group cityDropdown">
				<!-- RATES
					In this area you can customize the texts and prices that will be displayed based on the selected option. You can add new options as well, if you respect the format. -->
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="index.html#">
					<span class="text">{{city}}</span>
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
						<li><span>United States</span></li>
							<li>
								<a href="javascript:void(0);" ng-click="selectCity(1580029417, 'New York', 'United States');">New York</a>
							</li>
				</ul>
			</div>
			<div class="city-spinner" style="display:none" ng-show="isBusy">
				<img src="img/spinner_dark.gif"/>
			</div>
			<br/>
			<br/>
			<div class="row-fluid">
			    <div class="span5">
			        <table>
			            <thead>
			                <tr>
			                    <th>Car types</th>
			                </tr>
			            </thead>
			            <tbody>
			                <tr ng-repeat="priceRate in vehicleRates">
			                    <td>
			                        <h2>{{ priceRate.vehicleType.name }}</h2>
			                        <p>{{ priceRate.vehicleType.extendedDescription }}</p>
			                    </td>
			                </tr>
			            </tbody>
			        </table>
			    </div>

			    <div class="span7 table2">
			        <table>
			            <thead>
			                <tr>
			                    <th>Pricing</th>
			                    <th ng-repeat="priceRate in vehicleRates">
			                        {{ priceRate.vehicleType.name }}
			                    </th>
			                </tr>
			            </thead>
			            <tbody>
			                <tr>
			                    <td>Base Fare</td>
			                    <td ng-repeat="priceRate in vehicleRates">
			                        <span class="{{ priceRate.vehicleType.id }} rate1">{{ priceRate.startingPrice | currency:priceRate.currencySymbol }}</span>
			                    </td>
			                </tr>
			                <tr>
			                    <td>Per {{ vehicleRates[0].distanceUnit }}</td>
			                    <td ng-repeat="priceRate in vehicleRates">
			                        <span class="{{ priceRate.vehicleType.id }} rate2">{{ priceRate.distancePrice | currency:priceRate.currencySymbol }}</span>
			                    </td>
			                </tr>
			                <tr>
			                    <td>Per Minute</td>
			                    <td ng-repeat="priceRate in vehicleRates">
			                        <span class="{{ priceRate.vehicleType.id }} rate3">{{ priceRate.perMinute | currency:priceRate.currencySymbol }}</span>
			                    </td>
			                </tr>
							<tr>
								<td>Minimum Fare</td>
								<td ng-repeat="priceRate in vehicleRates">
									<span class="{{ priceRate.vehicleType.id }} rate4">{{ priceRate.minimumPrice | currency:priceRate.currencySymbol }}</span>
								</td>
							</tr>
							<tr>
			                    <td></td>
			                    <td ng-repeat="priceRate in vehicleRates">&nbsp;</td>
			                </tr>
			                <tr>
			                    <td class="no-border">Cancellation Fee</td>
			                    <td class="no-border" ng-repeat="priceRate in vehicleRates">
			                        <span class="{{ priceRate.vehicleType.id }} rate5">{{ priceRate.cancellationFee | currency:priceRate.currencySymbol }}</span>
			                    </td>
			                </tr>
			                <tr>
			                    <td>No Show</td>
			                    <td ng-repeat="priceRate in vehicleRates">
			                        <span class="{{ priceRate.vehicleType.id }} rate5">{{ priceRate.noShowFee | currency:priceRate.currencySymbol }}</span>
			                    </td>
			                </tr>
			            </tbody>
			        </table>
			    </div>
                
                
			</div>
<!--
            <p class="vat">All prices are incl. VAT. Tips included.</p>
-->
        </div>
    </section>
	<!-- END RATES SECTION -->
    
	<!-- START NEWS SECTION -->














































































	<!-- END NEWS SECTION -->

	
	<!-- START FOOTER SECTION -->
    <footer>
    	<div class="wrapper">
            <div class="row-fluid">
                <div class="span6 nav">
                	<a href="index.html">
                    	<img src="img/logo-white.png" alt="Thinking Limo" title="Thinking Limo" />
                    </a>
                    <ul class="inline">
                        <li>
                            <a href="index.html#theapp">The app</a>
                        </li>
                        <li>
                            <a href="index.html#rates">Rates</a>
                        </li>
                        <li>
                            <a href="driversignup.html">Drive for us</a>
                        </li>

                        <li>
                            <a href="about.html">About</a>
                        </li>
                    </ul>
                    <p>Getting you around wherever you are</p>
                    <div class="headings">
                        <h4>
                            50
                            <span>Countries</span>
                        </h4>
                        <h4>
                            5,000+
                            <span>Cities around the world</span>
                        </h4>
                        <h4>
                            300,000+
                            <span>Cars available around the globe</span>
                        </h4>
                    </div>
                </div>
                <div class="span6 map">
                    <div class="span6">
                        <div class="top">&nbsp;</div>
                        <div class="map">
                            <h2>Launching soon in a city near you.</h2>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="topdark">
                        	<ul>
                            	<li>Connect with us</li>
                                <li class="social twitter">
                                	<a href="https://twitter.com/ThinkingLimo_uk"></a>
                                </li>
                                <li class="social facebook">
                                	<a href="http://facebook.com/pages/Thinking-Limo/309065962553405"></a>
                                </li>
                                <li class="social googleplus">
                                	<a href="https://plus.google.com/109868886958336816804"></a>
                                </li>
                                <li class="social linkedin">
                                	<a href="http://www.linkedin.com/company/onecall-limousine"></a>
                                </li>
                            </ul>
                        </div>
                        <p>
                        	THINKING LIMO<br />
                            Metropark Plaza<br>
                            13 Professional Ave.<br>
                            Edison, NJ  08837<br>
                            United States<br>
	                        <a href="mailto:contact@thinkinglimo.com">contact@thinkinglimo.com</a>
                        </p>
					</div>
                </div>
            </div>
        </div>
    </footer>
	<!-- END FOOTER SECTION -->
</div>
<!-- Javascript -->
<script src="bundles/js-3rdparty%3Fv=BOfPwtmItnTeTjbGXyqiDSMdB_UO2VNPDiC1REDxipA1"></script>

<script src="bundles/js-master%3Fv=u6OJ_6WNOLzGqIsbvUyndkaLx_wWRy7x4TQ9nXUlxxM1"></script>


	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js"></script>
	<script type="text/javascript" src="scripts/ctrls/rates.js"></script>


<script type="text/javascript" src="scripts/ga.js"></script>
<!-- IE crap fix -->
<!-- fix for svg images in deprecated browsers -->
<!--[if lt IE 9]>
	<script type="text/javascript" src="/scripts/svg.js"></script>
<![endif]-->
<script type="text/javascript"> if (!NREUMQ.f) {NREUMQ.f=function() {NREUMQ.push(["load",new Date().getTime()]);var e=document.createElement("script"); e.type="text/javascript"; e.src=(("http:"===document.location.protocol)?"http:":"https:") + "//" + "rpm-images.newrelic.com/42/eum/rum.js"; document.body.appendChild(e);if(NREUMQ.a)NREUMQ.a();};NREUMQ.a=window.onload;window.onload=NREUMQ.f;};NREUMQ.push(["nrfj","beacon-4.newrelic.com","cce6bc8d8b","1821533","ZgEAbUNVWxVUUhINVl9LJlZFelASdl4IEEteCA5cQxt9CVhUSS1XVQEa",0,15,new Date().getTime(),"1B24752D2F464738","","","",""]);</script></body>
</html>